# 开发环境
spring:
  datasource:
    druid:
      username: root
      password: www.mysql.com
      url: jdbc:mysql://127.0.0.1:3306/video?useUnicode=true&characterEncoding=utf-8&useSSL=false&serverTimezone=UTC
      min-idle: 5
      max-active: 50
      initial-size: 10
      time-between-eviction-runs-millis: 3600
      validation-query: select 1

  # 文件上传
  servlet:
    multipart:
      max-file-size: 10240MB
      max-request-size: 10240MB

  # 模板引擎缓存
  thymeleaf:
    cache: false

# 分页插件
pagehelper:
  reasonable: true

# 对象存储
oss:
  end-point: https://oss-cn-shanghai.aliyuncs.com
  access-key-id: LTAI4FthnjLUjfTKRAqpDufC
  access-key-secret: qO4hUjjMNksoZAa664iLN6DkkC3QY4
  bucket-name: dev-carbule8-xyz

# 视频路径
video:
  local-path: C:/Users/carbu/Desktop/videos/
  access-url:  https://dev-carbule8-xyz.oss-cn-shanghai.aliyuncs.com

logging:
  config: classpath:logback.xml